html {
	background-color: white;

}

body {
	background-color: #ede6e6;
	margin: 0 auto;
	width: 960px;
	font-family: arial, helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #373535;
}

/* header section */

header {
	height: 150px;
	padding-top: 20px;
}

ul {
	padding: 0;
}

li {
	display: inline;
	padding: 10px;
	font-size: 16px;
}

header li:first-child {
	border-right: 1px solid #373535;
}

.left {
	width: 320px;
	float: left;
}

.left ul {
	padding-left: 30px;
	padding-top: 90px;
}

.right {
	width: 320px;
	float: right;
}

.right ul {
	float: right;
	padding-right: 30px;
	padding-top: 90px;
}

#logo {
	width: 320px;
	float: left;
	text-align: center;
	color: #b46363;
	font-size: 36px;
}

#logo p {
	margin: 0;
}

/* CONTENT */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#main {
	background-image: url('images-project1/dishes.jpg');
	height: 438px;
}

#main p {
	margin: 0;
	padding-top: 20px;
	color: #b46363;
	text-align: center;
	font-size: 30px;
}

form {
	padding-top: 30px;
	text-align: center;
}

#email {
	width: 220px;
	height: 25px;
	border-radius: 5px;
	padding: 0;
	margin-right: 10px;
}

#click {
	height: 25px;
	border-radius: 5px;
}

.box {
	position: relative;
	float: left;
	margin: 15px 0;
}

.box img {
	position: relative;
	/*order of elements on screen: z-index*/
	z-index: 1;
	margin-left: 15px;
}

.box p {
	position: absolute;
	width: 100%;
	top: 12px;
	z-index: 2;
	text-align: center;
	font-size: 24px;
	margin-left: 15px;
}

.middle p {
	color: white;
}

/* FOOTER */
nav {
	font-size: 16px;
	text-align: center;
}

footer {
	background-color: #e5e0e0;
	height: 140px;
	padding-top: 20px;
}

footer li {
	border-right: 1px solid #373535;
}

footer li:last-child {
	border-right: none;
}

footer img {
	display: block;
	margin: 0 auto;
}