/*MOBILE FIRST*/

html {
	background: #eee;
}

body {
	margin: 0 auto;
	width: 100%;
	background: white;
}

img {
	width: 100%;
	display: block;
}

p {
	color: #4a525f;
}

#logo p {
	display: block;
	position: absolute;
	top: 1%;
	color: white;
	font-size: 2.2em;
	font-style: italic;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

/* TOP MENU */
ul {
	width: 100%
	padding: 0;
	list-style: none!important;
}

li {
	text-align: center;
	padding: 5px;
	background: #4a525f;
	font-style: italic;
	border-bottom: 2px solid white;
}

li, li a {
	text-decoration: none;
	color: white;
}

li:hover, li a:hover {
	background: #393535;
}

/* TOP MENU END */

header {
	position: relative;
}

header p {
	position: absolute;
	bottom: 60%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 1.6em;
}

#apply-btn {
	bottom: 50%;
}

#apply-btn a {
	padding: 2px;
	text-decoration: none;
	background: #8293ca;
	color: white;
	border-radius: 5px;
}

#apply-btn a:hover {
	background: #3e486a;
}

.row1-1 {
	width: 100%;
	float: left;
	margin-bottom: 2%;
}

.buttons {
	width: 30%;
	float: left;
	padding-left: 2.5%;
	text-align: center;
}

.buttons a {
	text-decoration: none;
}

.row1-2 {
	width: 100%;
	background: #e0e0eb;
	font-size: 1.6em;
	text-align: center;
	padding: 4% 0;
	display: inline-block;
}

.row2 {
	background: #a864a8;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.row2 img{
	width: 40%;
	display: inline-block;
}

.row2 p {
	font-size: 1.4em;
	padding: 3% 0;
	color: white;
}

.row3-1 {
	display: inline-block;
	width: 100%;
	background: #e0e0eb;
	font-size: 1.6em;
	text-align: center;
	padding: 4% 0;
}

span a {
	text-decoration: underline;
	color: #ec008c;
}

footer p {
	text-align: center;
	padding-bottom: 2%;
	background: white;
}


/*--------------------
DEVICES > 600PX
------------------*/
@media screen and (min-width: 600px){
/* TOP MENU */
header ul {

	position: absolute;
	top: 8%;
	text-align: center;
	background:white;
}

header li, header li a {
	display: inline-block;
	background-color: transparent;
	border-bottom: none;
	color: #4a525f;
	padding: 5px;
}

header li {
	border-right: 1px solid #4a525f;
}

header li:last-child {
	border-right: none;
}

header li:hover, header li a:hover {
	background-color: #d8cccc;
}

/* TOP MENU END */

header p {
	bottom: 40%;
	font-size: 2em;
}

#apply-btn {
	bottom: 30%;
}

.row1-1 {
	width: 50%;
	margin-top: 2%
}

.row1-2 {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.row1-2 p {
	max-width: 60%
}

.row2 p {
	font-size: 2em;
}

.sarah, .tom {
	width: 50%;
	float: left;
	padding-bottom: 2%;
}

.row3 {
	display: flex;
}

.row3-1 {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.row3-1 p {
	max-width: 60%
}

.row3-2 {
	display: flex;
	/*flex works like a "1 part this, 2 parts that recipe*/
	flex: 1;
}

/*FOOTER MENU*/

footer ul {
	text-align: center;
	background-color: #8393ca;
	margin: 0;
}

footer li, footer li a {
	display: inline-block;
	background-color: transparent;
	border-bottom: none;
	padding: 5px;
}

footer li {
	border-right: 1px solid #4a525f;
}

footer li:last-child {
	border-right: none;
}

footer li:hover, footer li a:hover {
	background-color: #3e485a;
}

footer p {
	padding-top: 2%;
	background-color: #e0e0eb;
	font-size: 1.2em;
}
}